[submodule ".claude/skills/GordenPPTSkill"]
	path = .claude/skills/GordenPPTSkill
	url = https://github.com/GordenSun/GordenPPTSkill.git
[submodule ".claude/skills/kimi-skills"]
	path = .claude/skills/kimi-skills
	url = https://github.com/thvroyal/kimi-skills.git
[submodule ".claude/skills/myskill"]
	path = .claude/skills/myskill
	url = https://github.com/gurafborna/myskill
